.active {
  color: red;
  text-decoration: none;
}

.inactive {
  color: #909EBB;
  text-decoration: none;
}

.nav-fondo {
  background-color: #58585A;
  align-items: center;
}

.img-gps {
  width: 30px;
}

.img-pikachu {
  width: 292px;
  height: 297px;
}

.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.pokemones-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.pokemones-list {
  width: 180px;
}

.img-detalle-poke {
  width: 150px;
  height: 150px;
}

.cuadro-detalle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #dee2e6;
  width: 400px;
}